body {
  font-family: "Source Han Sans Simplified Chinese";
}


div#coursewarebox {height: 650px;}

/*div#video-area {height: 550px;}
div#media-area {height: 90%; text-align: center; border:1px solid #cececc}*/
div#button-area {height:100%; padding-top: 30%}
/*div#local-media {height:40%;}
div#remote-media {height: 40%; }*/
video {width: 100%; max-height: 100%}

button#btn-begin-class {border-top-left-radius:30px; border-bottom-left-radius: 30px;border-top-right-radius:30px; border-bottom-right-radius: 30px;}

/*h4#memo-text {padding-top: 40%}*/

div#log {height:10%; padding-top:10px ;border:1px solid #cececc}

div#chatbox {height: 100%; }
div#chat-room  {height: 100%;  padding-left: 10px;padding-right: 10px}
div#chat-message-list {height: 100%}
div#chat-content {height: 100%; border:1px solid #cececc}
/*.portlet {margin-bottom: 5px;}*/
/*.popover {max-width: 100%;width: 400px}*/

iframe#ppt-area {height: 550px; width: 100%; border-style: none; padding: 0px;}
div#page-container {overflow-y: hidden}

/*#myCanvas {z-index: 255; position: absolute; left: 0px; top: 60px;border:1px solid #cececc;}*/

/*div#ppt-area {height: 400px; position: absolute;}*/

.fs-container {
	height:400px;
	left:15px;
	position: absolute;
}

.literally {
  width: 100%;
  height: 100%;
}

.literally img.background, .literally > canvas {

}

.icon-media {height: 90px;}
div.icon-media > i {padding-top:40px;height:100%;}

.service-box-tea {text-align: center; background: #fff; border:1px solid #cececc}
.service-box-tea h4 {color: #8A6D3B; word-wrap:break-word; word-break:normal;}
.service-box-tea i {color: #8A6D3B;}
/*.service-box-tea span {font-size: 11px}*/
.service-box-tea:hover {background: #D73D04}
.service-box-tea:hover i,
.service-box-tea:hover p,
.service-box-tea:hover h4 {
  color: #fff;
}


.service-box-stu {text-align: center; background: #fff; font-size: 45px; border:1px solid #cececc}
.service-box-stu h4 {color: #3E773F; word-wrap:break-word; word-break:normal;}
.service-box-stu i {color: #3E773F;}
/*.service-box-stu span {font-size: 11px}*/
.service-box-stu:hover {background: #D73D04}
.service-box-stu:hover i,
.service-box-stu:hover p,
.service-box-stu:hover h4 {
  color: #fff;
}























/*
div#remote-media video{border:1px solid #272726;margin:3em 2em;height:70%;max-width:27%!important;background-color:#272726;background-repeat:no-repeat}
*/

/*
div#studentlist {max-height: 350px}
div#teacherlist {max-height: 150px}
div#controllist {max-height: 300px}

div#stu-control-row {padding-bottom: 5px; border-bottom: 1px solid #cececc; padding-top: 10px; border-top: 1px solid #cececc; }

.service-box-tea {height:130px; text-align: center; background: #fff; font-size: 55px; border:1px solid #cececc}
.service-box-tea span {font-size: 11px}
.service-box-stu:hover {background: #d73d04}
.service-box-stu:hover i,
.service-box-stu:hover p,
.service-box-stu:hover h4 {
  color: #fff;
}
*/

/*button# span {font-size: 12px}*/

/*
.service-box-stu {text-align: center; background: #fff; font-size: 45px; border:1px solid #cececc}
.service-box-stu span {font-size: 11px}
.service-box-stu:hover {background: #d73d04}
.service-box-stu:hover i,
.service-box-stu:hover p,
.service-box-stu:hover h4 {
  color: #fff;
}
*/

/*
.service-box-v1:visited {
  background: #d73d04;
}
.service-box-v1:visited i,
.service-box-v1:visited p,
.service-box-v1:visited h4 {
  color: #fff;
}
*/

/*div#chat-button-group {display: table; width: auto; margin-left: auto; margin-right: auto}*/


/*
#messages {
  background-color:#232323;
  padding:10px;
  height:100%;
  width:800px;
  margin:0 auto;
  overflow-y:auto;
}

#messages p {
  margin:5px 0;
  padding:0;
}

.info {
  margin:5px 0;
  font-style:italic;
}

.message-container {
  margin:5px 0;
  color:#fff;
}

.message-container .username {
  display:inline-block;
  margin-right:5px;
  font-weight:bold;
  color:#849091;
}

.me, .username.me {
  font-weight:bold;
  color:cyan;
}

.message-container .username.me {
  display:inline-block;
  margin-right:5px;
}
*/