.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.921875;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:1.083496;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:1.077637;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:0.677246;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff5;src:url(f5.woff)format("woff");}.ff5{font-family:ff5;line-height:0.921875;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff6;src:url(f6.woff)format("woff");}.ff6{font-family:ff6;line-height:0.900879;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff7;src:url(f7.woff)format("woff");}.ff7{font-family:ff7;line-height:0.894043;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff8;src:url(f8.woff)format("woff");}.ff8{font-family:ff8;line-height:0.795410;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff9;src:url(f9.woff)format("woff");}.ff9{font-family:ff9;line-height:0.916504;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ffa;src:url(fa.woff)format("woff");}.ffa{font-family:ffa;line-height:0.902344;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ffb;src:url(fb.woff)format("woff");}.ffb{font-family:ffb;line-height:0.925781;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc3{text-shadow:-0.015em 0 rgb(7,62,135),0 0.015em rgb(7,62,135),0.015em 0 rgb(7,62,135),0 -0.015em  rgb(7,62,135);}
.sc2{text-shadow:-0.015em 0 rgb(255,0,0),0 0.015em rgb(255,0,0),0.015em 0 rgb(255,0,0),0 -0.015em  rgb(255,0,0);}
.sc1{text-shadow:-0.015em 0 rgb(255,255,255),0 0.015em rgb(255,255,255),0.015em 0 rgb(255,255,255),0 -0.015em  rgb(255,255,255);}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc3{-webkit-text-stroke:0.015em rgb(7,62,135);text-shadow:none;}
.sc2{-webkit-text-stroke:0.015em rgb(255,0,0);text-shadow:none;}
.sc1{-webkit-text-stroke:0.015em rgb(255,255,255);text-shadow:none;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._d{margin-left:-125.000000px;}
._18{margin-left:-16.819998px;}
._28{margin-left:-1.924000px;}
._0{width:1.080000px;}
._19{width:2.476000px;}
._17{width:4.116000px;}
._25{width:6.164000px;}
._16{width:8.588002px;}
._22{width:13.400002px;}
._26{width:22.000000px;}
._23{width:29.400002px;}
._15{width:37.000000px;}
._24{width:46.000000px;}
._27{width:50.000000px;}
._10{width:126.777878px;}
._b{width:142.188000px;}
._4{width:159.374000px;}
._a{width:162.562000px;}
._3{width:166.249939px;}
._f{width:173.442000px;}
._1d{width:179.360000px;}
._c{width:185.437878px;}
._13{width:192.624000px;}
._1{width:200.816031px;}
._e{width:204.178031px;}
._12{width:208.126031px;}
._5{width:209.176000px;}
._2{width:212.170000px;}
._14{width:214.607878px;}
._7{width:217.456000px;}
._6{width:222.373878px;}
._11{width:224.362000px;}
._9{width:227.495939px;}
._1f{width:247.660000px;}
._8{width:249.708031px;}
._1e{width:279.345939px;}
._1c{width:288.280000px;}
._1b{width:317.889939px;}
._1a{width:363.436000px;}
._29{width:488.500122px;}
._20{width:834.681251px;}
._21{width:872.553251px;}
.fc7{color:rgb(0,0,0);}
.fc6{color:rgb(255,192,0);}
.fc5{color:rgb(255,255,0);}
.fc8{color:rgb(198,231,252);}
.fc4{color:rgb(7,62,135);}
.fc0{color:rgb(27,65,113);}
.fc1{color:rgb(255,0,0);}
.fc9{color:rgb(13,13,13);}
.fc2{color:rgb(255,255,255);}
.fc3{color:rgb(49,182,253);}
.fs11{font-size:60.000000px;}
.fs10{font-size:62.000000px;}
.fs2{font-size:72.000000px;}
.fsf{font-size:92.000000px;}
.fse{font-size:94.000000px;}
.fs4{font-size:96.000000px;}
.fs3{font-size:98.000000px;}
.fsa{font-size:112.000000px;}
.fs9{font-size:114.000000px;}
.fsd{font-size:120.000000px;}
.fsc{font-size:122.000000px;}
.fs6{font-size:128.000000px;}
.fs5{font-size:130.000000px;}
.fs7{font-size:144.000000px;}
.fs8{font-size:146.000000px;}
.fs1{font-size:160.000000px;}
.fsb{font-size:164.000000px;}
.fs0{font-size:176.000000px;}
.y0{bottom:0.000000px;}
.y3d{bottom:26.351974px;}
.y85{bottom:44.264984px;}
.y6c{bottom:64.668396px;}
.y3c{bottom:66.671982px;}
.y5d{bottom:68.635574px;}
.y32{bottom:70.793442px;}
.y84{bottom:75.350983px;}
.y6b{bottom:82.668427px;}
.y63{bottom:85.348450px;}
.y9{bottom:85.487625px;}
.y8{bottom:87.202126px;}
.y51{bottom:87.540955px;}
.y5c{bottom:97.435593px;}
.y48{bottom:97.966965px;}
.y1d{bottom:101.710983px;}
.y6a{bottom:102.190308px;}
.y42{bottom:104.686966px;}
.y7b{bottom:104.874998px;}
.y3b{bottom:106.991989px;}
.y7c{bottom:109.000000px;}
.y7d{bottom:111.285999px;}
.y25{bottom:116.310932px;}
.y50{bottom:119.814941px;}
.y31{bottom:121.193466px;}
.y62{bottom:124.948456px;}
.y5b{bottom:126.235596px;}
.y2a{bottom:133.008652px;}
.y2b{bottom:134.734985px;}
.y1c{bottom:136.270981px;}
.y53{bottom:138.286972px;}
.y83{bottom:144.470993px;}
.y41{bottom:145.006973px;}
.y4f{bottom:150.900940px;}
.y7{bottom:152.237625px;}
.y5a{bottom:153.155594px;}
.y10{bottom:153.550995px;}
.y6{bottom:153.952126px;}
.y69{bottom:157.390305px;}
.y78{bottom:161.374998px;}
.y61{bottom:164.548477px;}
.y6f{bottom:165.263000px;}
.y79{bottom:165.500000px;}
.y3{bottom:166.644699px;}
.y7a{bottom:167.785999px;}
.y1b{bottom:170.830978px;}
.y30{bottom:171.593460px;}
.y20{bottom:171.814987px;}
.y59{bottom:178.075607px;}
.y47{bottom:178.606979px;}
.yf{bottom:182.350998px;}
.y40{bottom:182.659988px;}
.y45{bottom:185.326981px;}
.y4e{bottom:185.460938px;}
.y16{bottom:185.824982px;}
.y24{bottom:187.185932px;}
.y3a{bottom:187.631989px;}
.y35{bottom:188.399002px;}
.y28{bottom:190.608658px;}
.y29{bottom:192.334991px;}
.y58{bottom:199.235611px;}
.y23{bottom:199.630989px;}
.y60{bottom:201.544708px;}
.y1a{bottom:203.104980px;}
.y1f{bottom:210.214989px;}
.y68{bottom:212.590302px;}
.y82{bottom:213.590988px;}
.y15{bottom:214.624985px;}
.y76{bottom:216.699997px;}
.ye{bottom:216.910995px;}
.y46{bottom:217.767944px;}
.y2{bottom:218.440639px;}
.y3f{bottom:218.926987px;}
.y77{bottom:218.986000px;}
.y4d{bottom:220.020935px;}
.y2f{bottom:221.993454px;}
.y5{bottom:224.077126px;}
.y44{bottom:225.646988px;}
.y39{bottom:227.951996px;}
.y57{bottom:229.915619px;}
.y22{bottom:231.904991px;}
.y5f{bottom:233.944702px;}
.y52{bottom:234.190987px;}
.y19{bottom:237.664986px;}
.y67{bottom:238.388634px;}
.y34{bottom:240.238998px;}
.y74{bottom:241.374998px;}
.y81{bottom:242.390984px;}
.y14{bottom:243.424988px;}
.yd{bottom:245.710999px;}
.y75{bottom:247.785999px;}
.y26{bottom:248.208664px;}
.y27{bottom:249.934998px;}
.y4c{bottom:254.580933px;}
.y1e{bottom:256.294991px;}
.y56{bottom:256.835602px;}
.y6e{bottom:257.422989px;}
.y43{bottom:259.246986px;}
.y38{bottom:265.605003px;}
.y18{bottom:266.464989px;}
.y66{bottom:267.790306px;}
.y21{bottom:268.750992px;}
.y13{bottom:272.224991px;}
.y2e{bottom:272.393463px;}
.yc{bottom:274.510994px;}
.y80{bottom:274.664993px;}
.y55{bottom:279.875603px;}
.y33{bottom:288.649994px;}
.y4b{bottom:289.140923px;}
.y65{bottom:289.870308px;}
.y73{bottom:293.750000px;}
.y6d{bottom:295.822990px;}
.y4{bottom:296.202126px;}
.y72{bottom:297.874998px;}
.y3e{bottom:299.566990px;}
.y12{bottom:301.024994px;}
.y37{bottom:301.872002px;}
.yb{bottom:303.310993px;}
.y5e{bottom:304.128265px;}
.y7f{bottom:305.750992px;}
.y4a{bottom:323.700928px;}
.y1{bottom:338.649956px;}
.y7e{bottom:340.310993px;}
.y54{bottom:341.193836px;}
.y36{bottom:342.192005px;}
.y64{bottom:343.268633px;}
.y49{bottom:359.316929px;}
.y71{bottom:400.187500px;}
.y2d{bottom:426.622498px;}
.y11{bottom:445.087502px;}
.y17{bottom:446.812500px;}
.ya{bottom:449.278503px;}
.y70{bottom:452.987503px;}
.y2c{bottom:470.812500px;}
.h22{height:51.162109px;}
.h5{height:59.062500px;}
.h4{height:59.414062px;}
.hd{height:66.656250px;}
.h1f{height:75.468750px;}
.h20{height:75.917969px;}
.h1e{height:76.906250px;}
.h1d{height:77.109375px;}
.h21{height:77.568359px;}
.h16{height:78.750000px;}
.h8{height:79.218750px;}
.h7{height:80.250000px;}
.hb{height:80.343750px;}
.h18{height:80.390625px;}
.h14{height:91.875000px;}
.h24{height:92.312500px;}
.h15{height:92.421875px;}
.h13{height:93.625000px;}
.h1b{height:98.437500px;}
.h1c{height:99.023438px;}
.h10{height:99.984375px;}
.h1a{height:100.312500px;}
.h25{height:105.500000px;}
.h23{height:105.625000px;}
.hc{height:107.000000px;}
.he{height:111.093750px;}
.h12{height:118.828125px;}
.h11{height:120.375000px;}
.h2{height:127.968750px;}
.hf{height:130.625000px;}
.ha{height:133.750000px;}
.h19{height:134.531250px;}
.h17{height:137.093750px;}
.h3{height:140.765625px;}
.h1{height:144.375000px;}
.h6{height:145.234375px;}
.h9{height:147.125000px;}
.h0{height:540.000000px;}
.w0{width:720.000000px;}
.x0{left:0.000000px;}
.xc{left:52.000000px;}
.x17{left:66.700012px;}
.x2{left:70.999969px;}
.x1e{left:72.325043px;}
.xa{left:75.825012px;}
.x13{left:77.551347px;}
.x12{left:92.062500px;}
.x21{left:93.274918px;}
.xb{left:97.325012px;}
.x1d{left:102.700012px;}
.x1{left:107.125031px;}
.x1f{left:108.325043px;}
.x4{left:112.062496px;}
.x5{left:113.249996px;}
.x11{left:125.312500px;}
.xd{left:140.000000px;}
.x14{left:162.000000px;}
.x19{left:163.500000px;}
.x1b{left:174.937500px;}
.x1c{left:180.875000px;}
.x1a{left:182.875000px;}
.x20{left:184.000000px;}
.x10{left:203.187500px;}
.xf{left:206.000000px;}
.xe{left:228.000000px;}
.x15{left:240.000000px;}
.x22{left:261.024902px;}
.x9{left:279.375000px;}
.x28{left:294.000000px;}
.x3{left:302.249969px;}
.x18{left:309.625000px;}
.x16{left:320.062500px;}
.x6{left:331.874989px;}
.x24{left:336.687485px;}
.x23{left:346.062485px;}
.x7{left:453.312489px;}
.x8{left:475.874989px;}
.x26{left:490.500015px;}
.x27{left:495.625015px;}
.x25{left:520.000015px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._d{margin-left:-166.666667pt;}
._18{margin-left:-22.426665pt;}
._28{margin-left:-2.565333pt;}
._0{width:1.440000pt;}
._19{width:3.301333pt;}
._17{width:5.488000pt;}
._25{width:8.218667pt;}
._16{width:11.450669pt;}
._22{width:17.866669pt;}
._26{width:29.333333pt;}
._23{width:39.200002pt;}
._15{width:49.333333pt;}
._24{width:61.333333pt;}
._27{width:66.666667pt;}
._10{width:169.037171pt;}
._b{width:189.584000pt;}
._4{width:212.498667pt;}
._a{width:216.749333pt;}
._3{width:221.666585pt;}
._f{width:231.256000pt;}
._1d{width:239.146667pt;}
._c{width:247.250504pt;}
._13{width:256.832000pt;}
._1{width:267.754707pt;}
._e{width:272.237374pt;}
._12{width:277.501374pt;}
._5{width:278.901333pt;}
._2{width:282.893333pt;}
._14{width:286.143837pt;}
._7{width:289.941333pt;}
._6{width:296.498504pt;}
._11{width:299.149333pt;}
._9{width:303.327919pt;}
._1f{width:330.213333pt;}
._8{width:332.944041pt;}
._1e{width:372.461252pt;}
._1c{width:384.373333pt;}
._1b{width:423.853252pt;}
._1a{width:484.581333pt;}
._29{width:651.333496pt;}
._20{width:1112.908335pt;}
._21{width:1163.404335pt;}
.fs11{font-size:80.000000pt;}
.fs10{font-size:82.666667pt;}
.fs2{font-size:96.000000pt;}
.fsf{font-size:122.666667pt;}
.fse{font-size:125.333333pt;}
.fs4{font-size:128.000000pt;}
.fs3{font-size:130.666667pt;}
.fsa{font-size:149.333333pt;}
.fs9{font-size:152.000000pt;}
.fsd{font-size:160.000000pt;}
.fsc{font-size:162.666667pt;}
.fs6{font-size:170.666667pt;}
.fs5{font-size:173.333333pt;}
.fs7{font-size:192.000000pt;}
.fs8{font-size:194.666667pt;}
.fs1{font-size:213.333333pt;}
.fsb{font-size:218.666667pt;}
.fs0{font-size:234.666667pt;}
.y0{bottom:0.000000pt;}
.y3d{bottom:35.135966pt;}
.y85{bottom:59.019979pt;}
.y6c{bottom:86.224528pt;}
.y3c{bottom:88.895976pt;}
.y5d{bottom:91.514099pt;}
.y32{bottom:94.391256pt;}
.y84{bottom:100.467977pt;}
.y6b{bottom:110.224569pt;}
.y63{bottom:113.797933pt;}
.y9{bottom:113.983500pt;}
.y8{bottom:116.269501pt;}
.y51{bottom:116.721273pt;}
.y5c{bottom:129.914124pt;}
.y48{bottom:130.622620pt;}
.y1d{bottom:135.614644pt;}
.y6a{bottom:136.253743pt;}
.y42{bottom:139.582621pt;}
.y7b{bottom:139.833331pt;}
.y3b{bottom:142.655986pt;}
.y7c{bottom:145.333333pt;}
.y7d{bottom:148.381332pt;}
.y25{bottom:155.081243pt;}
.y50{bottom:159.753255pt;}
.y31{bottom:161.591288pt;}
.y62{bottom:166.597941pt;}
.y5b{bottom:168.314128pt;}
.y2a{bottom:177.344869pt;}
.y2b{bottom:179.646647pt;}
.y1c{bottom:181.694641pt;}
.y53{bottom:184.382629pt;}
.y83{bottom:192.627991pt;}
.y41{bottom:193.342631pt;}
.y4f{bottom:201.201253pt;}
.y7{bottom:202.983500pt;}
.y5a{bottom:204.207459pt;}
.y10{bottom:204.734660pt;}
.y6{bottom:205.269501pt;}
.y69{bottom:209.853739pt;}
.y78{bottom:215.166664pt;}
.y61{bottom:219.397970pt;}
.y6f{bottom:220.350667pt;}
.y79{bottom:220.666667pt;}
.y3{bottom:222.192932pt;}
.y7a{bottom:223.714666pt;}
.y1b{bottom:227.774638pt;}
.y30{bottom:228.791280pt;}
.y20{bottom:229.086650pt;}
.y59{bottom:237.434143pt;}
.y47{bottom:238.142639pt;}
.yf{bottom:243.134664pt;}
.y40{bottom:243.546651pt;}
.y45{bottom:247.102641pt;}
.y4e{bottom:247.281250pt;}
.y16{bottom:247.766642pt;}
.y24{bottom:249.581243pt;}
.y3a{bottom:250.175985pt;}
.y35{bottom:251.198669pt;}
.y28{bottom:254.144877pt;}
.y29{bottom:256.446655pt;}
.y58{bottom:265.647481pt;}
.y23{bottom:266.174652pt;}
.y60{bottom:268.726278pt;}
.y1a{bottom:270.806641pt;}
.y1f{bottom:280.286652pt;}
.y68{bottom:283.453735pt;}
.y82{bottom:284.787984pt;}
.y15{bottom:286.166646pt;}
.y76{bottom:288.933329pt;}
.ye{bottom:289.214661pt;}
.y46{bottom:290.357259pt;}
.y2{bottom:291.254186pt;}
.y3f{bottom:291.902649pt;}
.y77{bottom:291.981333pt;}
.y4d{bottom:293.361247pt;}
.y2f{bottom:295.991272pt;}
.y5{bottom:298.769501pt;}
.y44{bottom:300.862651pt;}
.y39{bottom:303.935994pt;}
.y57{bottom:306.554159pt;}
.y22{bottom:309.206655pt;}
.y5f{bottom:311.926270pt;}
.y52{bottom:312.254649pt;}
.y19{bottom:316.886648pt;}
.y67{bottom:317.851512pt;}
.y34{bottom:320.318665pt;}
.y74{bottom:321.833331pt;}
.y81{bottom:323.187978pt;}
.y14{bottom:324.566650pt;}
.yd{bottom:327.614665pt;}
.y75{bottom:330.381332pt;}
.y26{bottom:330.944885pt;}
.y27{bottom:333.246663pt;}
.y4c{bottom:339.441243pt;}
.y1e{bottom:341.726654pt;}
.y56{bottom:342.447469pt;}
.y6e{bottom:343.230652pt;}
.y43{bottom:345.662649pt;}
.y38{bottom:354.140004pt;}
.y18{bottom:355.286652pt;}
.y66{bottom:357.053741pt;}
.y21{bottom:358.334656pt;}
.y13{bottom:362.966654pt;}
.y2e{bottom:363.191284pt;}
.yc{bottom:366.014659pt;}
.y80{bottom:366.219991pt;}
.y55{bottom:373.167470pt;}
.y33{bottom:384.866659pt;}
.y4b{bottom:385.521230pt;}
.y65{bottom:386.493744pt;}
.y73{bottom:391.666667pt;}
.y6d{bottom:394.430654pt;}
.y4{bottom:394.936167pt;}
.y72{bottom:397.166664pt;}
.y3e{bottom:399.422653pt;}
.y12{bottom:401.366659pt;}
.y37{bottom:402.496002pt;}
.yb{bottom:404.414658pt;}
.y5e{bottom:405.504354pt;}
.y7f{bottom:407.667989pt;}
.y4a{bottom:431.601237pt;}
.y1{bottom:451.533274pt;}
.y7e{bottom:453.747991pt;}
.y54{bottom:454.925115pt;}
.y36{bottom:456.256007pt;}
.y64{bottom:457.691511pt;}
.y49{bottom:479.089238pt;}
.y71{bottom:533.583333pt;}
.y2d{bottom:568.829997pt;}
.y11{bottom:593.450002pt;}
.y17{bottom:595.750000pt;}
.ya{bottom:599.038005pt;}
.y70{bottom:603.983337pt;}
.y2c{bottom:627.750000pt;}
.h22{height:68.216146pt;}
.h5{height:78.750000pt;}
.h4{height:79.218750pt;}
.hd{height:88.875000pt;}
.h1f{height:100.625000pt;}
.h20{height:101.223958pt;}
.h1e{height:102.541667pt;}
.h1d{height:102.812500pt;}
.h21{height:103.424479pt;}
.h16{height:105.000000pt;}
.h8{height:105.625000pt;}
.h7{height:107.000000pt;}
.hb{height:107.125000pt;}
.h18{height:107.187500pt;}
.h14{height:122.500000pt;}
.h24{height:123.083333pt;}
.h15{height:123.229167pt;}
.h13{height:124.833333pt;}
.h1b{height:131.250000pt;}
.h1c{height:132.031250pt;}
.h10{height:133.312500pt;}
.h1a{height:133.750000pt;}
.h25{height:140.666667pt;}
.h23{height:140.833333pt;}
.hc{height:142.666667pt;}
.he{height:148.125000pt;}
.h12{height:158.437500pt;}
.h11{height:160.500000pt;}
.h2{height:170.625000pt;}
.hf{height:174.166667pt;}
.ha{height:178.333333pt;}
.h19{height:179.375000pt;}
.h17{height:182.791667pt;}
.h3{height:187.687500pt;}
.h1{height:192.500000pt;}
.h6{height:193.645833pt;}
.h9{height:196.166667pt;}
.h0{height:720.000000pt;}
.w0{width:960.000000pt;}
.x0{left:0.000000pt;}
.xc{left:69.333333pt;}
.x17{left:88.933350pt;}
.x2{left:94.666626pt;}
.x1e{left:96.433390pt;}
.xa{left:101.100016pt;}
.x13{left:103.401796pt;}
.x12{left:122.750000pt;}
.x21{left:124.366557pt;}
.xb{left:129.766683pt;}
.x1d{left:136.933350pt;}
.x1{left:142.833374pt;}
.x1f{left:144.433390pt;}
.x4{left:149.416662pt;}
.x5{left:150.999995pt;}
.x11{left:167.083333pt;}
.xd{left:186.666667pt;}
.x14{left:216.000000pt;}
.x19{left:218.000000pt;}
.x1b{left:233.250000pt;}
.x1c{left:241.166667pt;}
.x1a{left:243.833333pt;}
.x20{left:245.333333pt;}
.x10{left:270.916667pt;}
.xf{left:274.666667pt;}
.xe{left:304.000000pt;}
.x15{left:320.000000pt;}
.x22{left:348.033203pt;}
.x9{left:372.500000pt;}
.x28{left:392.000000pt;}
.x3{left:402.999959pt;}
.x18{left:412.833333pt;}
.x16{left:426.750000pt;}
.x6{left:442.499985pt;}
.x24{left:448.916646pt;}
.x23{left:461.416646pt;}
.x7{left:604.416651pt;}
.x8{left:634.499985pt;}
.x26{left:654.000020pt;}
.x27{left:660.833354pt;}
.x25{left:693.333354pt;}
}
