.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.931250;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.914062;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:1.083496;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:1.077637;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff5;src:url(f5.woff)format("woff");}.ff5{font-family:ff5;line-height:0.677246;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff6;src:url(f6.woff)format("woff");}.ff6{font-family:ff6;line-height:0.715820;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff7;src:url(f7.woff)format("woff");}.ff7{font-family:ff7;line-height:0.905762;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff8;src:url(f8.woff)format("woff");}.ff8{font-family:ff8;line-height:0.910156;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff9;src:url(f9.woff)format("woff");}.ff9{font-family:ff9;line-height:0.795410;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ffa;src:url(fa.woff)format("woff");}.ffa{font-family:ffa;line-height:0.916504;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.ls1{letter-spacing:12.000000px;}
.sc_{text-shadow:none;}
.sc1{text-shadow:-0.015em 0 rgb(7,62,135),0 0.015em rgb(7,62,135),0.015em 0 rgb(7,62,135),0 -0.015em  rgb(7,62,135);}
.sc2{text-shadow:-0.015em 0 rgb(255,255,255),0 0.015em rgb(255,255,255),0.015em 0 rgb(255,255,255),0 -0.015em  rgb(255,255,255);}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc1{-webkit-text-stroke:0.015em rgb(7,62,135);text-shadow:none;}
.sc2{-webkit-text-stroke:0.015em rgb(255,255,255);text-shadow:none;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._f{margin-left:-400.833984px;}
._1b{margin-left:-16.819998px;}
._1{width:1.080000px;}
._1a{width:4.116000px;}
._26{width:8.128015px;}
._17{width:9.499992px;}
._19{width:10.500000px;}
._1c{width:12.999992px;}
._24{width:14.900002px;}
._18{width:16.000000px;}
._0{width:17.500000px;}
._16{width:37.400002px;}
._25{width:41.400002px;}
._d{width:88.104016px;}
._c{width:108.728016px;}
._5{width:117.540016px;}
._4{width:124.415955px;}
._e{width:161.353771px;}
._14{width:168.540016px;}
._2{width:170.731955px;}
._9{width:177.039955px;}
._10{width:180.093955px;}
._13{width:184.041955px;}
._6{width:185.092016px;}
._3{width:188.086016px;}
._15{width:190.523771px;}
._8{width:193.622016px;}
._7{width:198.289771px;}
._12{width:200.528016px;}
._b{width:203.661955px;}
._11{width:205.166016px;}
._a{width:224.670016px;}
._21{width:247.632656px;}
._20{width:278.557297px;}
._1f{width:288.252656px;}
._1e{width:317.862656px;}
._1d{width:363.408595px;}
._22{width:834.681251px;}
._23{width:872.553251px;}
.fc7{color:rgb(0,0,0);}
.fc6{color:rgb(255,192,0);}
.fc5{color:rgb(255,255,0);}
.fc4{color:rgb(7,62,135);}
.fc0{color:rgb(27,65,113);}
.fc1{color:rgb(255,0,0);}
.fc8{color:rgb(13,13,13);}
.fc2{color:rgb(255,255,255);}
.fc3{color:rgb(49,182,253);}
.fs2{font-size:72.000000px;}
.fsa{font-size:88.000000px;}
.fs9{font-size:90.000000px;}
.fs4{font-size:96.000000px;}
.fs3{font-size:98.000000px;}
.fs6{font-size:128.000000px;}
.fs5{font-size:130.000000px;}
.fs7{font-size:144.000000px;}
.fs8{font-size:146.000000px;}
.fs1{font-size:160.000000px;}
.fs0{font-size:176.000000px;}
.y0{bottom:0.000000px;}
.y34{bottom:70.793442px;}
.y45{bottom:83.381332px;}
.yb{bottom:86.501503px;}
.ya{bottom:87.156300px;}
.y3b{bottom:95.909287px;}
.y1f{bottom:101.669296px;}
.y44{bottom:115.061325px;}
.y27{bottom:116.362782px;}
.y33{bottom:121.193466px;}
.y3a{bottom:130.469284px;}
.y2c{bottom:132.966949px;}
.y2d{bottom:134.693283px;}
.y1e{bottom:136.229294px;}
.y9{bottom:143.089058px;}
.y43{bottom:146.741318px;}
.y7{bottom:153.234261px;}
.y12{bottom:153.509293px;}
.y6{bottom:153.889057px;}
.y8{bottom:164.689056px;}
.y39{bottom:165.029282px;}
.y3{bottom:166.644608px;}
.y1d{bottom:170.789291px;}
.y32{bottom:171.593460px;}
.y22{bottom:173.657196px;}
.y42{bottom:178.421310px;}
.y11{bottom:182.309296px;}
.y18{bottom:187.196228px;}
.y26{bottom:187.236805px;}
.y37{bottom:188.357300px;}
.y2a{bottom:190.566956px;}
.y2b{bottom:192.293289px;}
.y25{bottom:199.589287px;}
.y1c{bottom:204.476219px;}
.y3d{bottom:205.349281px;}
.y41{bottom:210.101303px;}
.y21{bottom:212.057198px;}
.y17{bottom:215.996231px;}
.y10{bottom:216.869293px;}
.y2{bottom:218.440548px;}
.y31{bottom:221.993454px;}
.y5{bottom:224.026539px;}
.y24{bottom:233.276222px;}
.y38{bottom:234.149284px;}
.y1b{bottom:239.036224px;}
.y3c{bottom:239.909287px;}
.y36{bottom:240.197296px;}
.y40{bottom:241.781296px;}
.y16{bottom:244.796234px;}
.yf{bottom:245.669296px;}
.y28{bottom:248.166962px;}
.y29{bottom:249.893295px;}
.y20{bottom:258.137207px;}
.y1a{bottom:267.836227px;}
.y23{bottom:268.709290px;}
.y30{bottom:272.393463px;}
.y3f{bottom:273.461296px;}
.y15{bottom:273.596230px;}
.ye{bottom:274.469292px;}
.y35{bottom:290.727695px;}
.y4{bottom:296.206833px;}
.y14{bottom:302.396229px;}
.yd{bottom:303.269291px;}
.y3e{bottom:305.141293px;}
.y1{bottom:341.180756px;}
.y2f{bottom:426.599998px;}
.y13{bottom:447.655388px;}
.y19{bottom:449.144897px;}
.yc{bottom:449.256004px;}
.y2e{bottom:473.144897px;}
.h5{height:59.343750px;}
.h4{height:59.414062px;}
.hc{height:66.656250px;}
.h13{height:72.617188px;}
.h12{height:73.992188px;}
.h8{height:79.218750px;}
.ha{height:80.437500px;}
.h7{height:80.718750px;}
.hf{height:99.984375px;}
.hb{height:107.625000px;}
.hd{height:111.093750px;}
.h11{height:118.828125px;}
.h10{height:121.078125px;}
.h2{height:127.968750px;}
.he{height:131.250000px;}
.h9{height:134.531250px;}
.h3{height:140.765625px;}
.h6{height:145.234375px;}
.h1{height:147.984375px;}
.h0{height:540.000000px;}
.w0{width:720.000000px;}
.x0{left:0.000000px;}
.xe{left:49.812500px;}
.x2{left:70.947235px;}
.xc{left:75.866699px;}
.x15{left:77.593034px;}
.x14{left:92.107929px;}
.xd{left:97.466700px;}
.x1{left:100.601593px;}
.x4{left:107.551968px;}
.x5{left:110.239468px;}
.x19{left:112.053543px;}
.x13{left:125.357929px;}
.xf{left:136.000000px;}
.x16{left:159.812500px;}
.x1f{left:174.312500px;}
.x1c{left:190.020844px;}
.x1b{left:191.583344px;}
.x12{left:198.812500px;}
.x1e{left:201.333344px;}
.x11{left:203.812500px;}
.x1d{left:208.145844px;}
.x10{left:221.437500px;}
.x17{left:236.000000px;}
.xb{left:279.375000px;}
.x3{left:302.197235px;}
.x1a{left:309.625000px;}
.x18{left:320.062500px;}
.x6{left:330.363949px;}
.x8{left:462.196957px;}
.x7{left:466.509457px;}
.xa{left:472.884457px;}
.x9{left:546.363400px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ls1{letter-spacing:16.000000pt;}
.ws0{word-spacing:0.000000pt;}
._f{margin-left:-534.445313pt;}
._1b{margin-left:-22.426665pt;}
._1{width:1.440000pt;}
._1a{width:5.488000pt;}
._26{width:10.837354pt;}
._17{width:12.666656pt;}
._19{width:14.000000pt;}
._1c{width:17.333323pt;}
._24{width:19.866669pt;}
._18{width:21.333333pt;}
._0{width:23.333333pt;}
._16{width:49.866669pt;}
._25{width:55.200002pt;}
._d{width:117.472021pt;}
._c{width:144.970688pt;}
._5{width:156.720021pt;}
._4{width:165.887939pt;}
._e{width:215.138362pt;}
._14{width:224.720021pt;}
._2{width:227.642606pt;}
._9{width:236.053273pt;}
._10{width:240.125273pt;}
._13{width:245.389273pt;}
._6{width:246.789354pt;}
._3{width:250.781354pt;}
._15{width:254.031695pt;}
._8{width:258.162687pt;}
._7{width:264.386362pt;}
._12{width:267.370687pt;}
._b{width:271.549273pt;}
._11{width:273.554688pt;}
._a{width:299.560021pt;}
._21{width:330.176875pt;}
._20{width:371.409729pt;}
._1f{width:384.336875pt;}
._1e{width:423.816875pt;}
._1d{width:484.544794pt;}
._22{width:1112.908335pt;}
._23{width:1163.404335pt;}
.fs2{font-size:96.000000pt;}
.fsa{font-size:117.333333pt;}
.fs9{font-size:120.000000pt;}
.fs4{font-size:128.000000pt;}
.fs3{font-size:130.666667pt;}
.fs6{font-size:170.666667pt;}
.fs5{font-size:173.333333pt;}
.fs7{font-size:192.000000pt;}
.fs8{font-size:194.666667pt;}
.fs1{font-size:213.333333pt;}
.fs0{font-size:234.666667pt;}
.y0{bottom:0.000000pt;}
.y34{bottom:94.391256pt;}
.y45{bottom:111.175110pt;}
.yb{bottom:115.335337pt;}
.ya{bottom:116.208399pt;}
.y3b{bottom:127.879049pt;}
.y1f{bottom:135.559062pt;}
.y44{bottom:153.415100pt;}
.y27{bottom:155.150375pt;}
.y33{bottom:161.591288pt;}
.y3a{bottom:173.959045pt;}
.y2c{bottom:177.289266pt;}
.y2d{bottom:179.591044pt;}
.y1e{bottom:181.639058pt;}
.y9{bottom:190.785411pt;}
.y43{bottom:195.655090pt;}
.y7{bottom:204.312347pt;}
.y12{bottom:204.679057pt;}
.y6{bottom:205.185410pt;}
.y8{bottom:219.585409pt;}
.y39{bottom:220.039042pt;}
.y3{bottom:222.192810pt;}
.y1d{bottom:227.719055pt;}
.y32{bottom:228.791280pt;}
.y22{bottom:231.542928pt;}
.y42{bottom:237.895081pt;}
.y11{bottom:243.079061pt;}
.y18{bottom:249.594971pt;}
.y26{bottom:249.649073pt;}
.y37{bottom:251.143066pt;}
.y2a{bottom:254.089274pt;}
.y2b{bottom:256.391052pt;}
.y25{bottom:266.119049pt;}
.y1c{bottom:272.634959pt;}
.y3d{bottom:273.799042pt;}
.y41{bottom:280.135071pt;}
.y21{bottom:282.742930pt;}
.y17{bottom:287.994975pt;}
.y10{bottom:289.159058pt;}
.y2{bottom:291.254064pt;}
.y31{bottom:295.991272pt;}
.y5{bottom:298.702052pt;}
.y24{bottom:311.034963pt;}
.y38{bottom:312.199046pt;}
.y1b{bottom:318.714966pt;}
.y3c{bottom:319.879049pt;}
.y36{bottom:320.263062pt;}
.y40{bottom:322.375061pt;}
.y16{bottom:326.394979pt;}
.yf{bottom:327.559062pt;}
.y28{bottom:330.889282pt;}
.y29{bottom:333.191060pt;}
.y20{bottom:344.182943pt;}
.y1a{bottom:357.114970pt;}
.y23{bottom:358.279053pt;}
.y30{bottom:363.191284pt;}
.y3f{bottom:364.615061pt;}
.y15{bottom:364.794973pt;}
.ye{bottom:365.959056pt;}
.y35{bottom:387.636927pt;}
.y4{bottom:394.942444pt;}
.y14{bottom:403.194972pt;}
.yd{bottom:404.359055pt;}
.y3e{bottom:406.855057pt;}
.y1{bottom:454.907674pt;}
.y2f{bottom:568.799998pt;}
.y13{bottom:596.873851pt;}
.y19{bottom:598.859863pt;}
.yc{bottom:599.008006pt;}
.y2e{bottom:630.859863pt;}
.h5{height:79.125000pt;}
.h4{height:79.218750pt;}
.hc{height:88.875000pt;}
.h13{height:96.822917pt;}
.h12{height:98.656250pt;}
.h8{height:105.625000pt;}
.ha{height:107.250000pt;}
.h7{height:107.625000pt;}
.hf{height:133.312500pt;}
.hb{height:143.500000pt;}
.hd{height:148.125000pt;}
.h11{height:158.437500pt;}
.h10{height:161.437500pt;}
.h2{height:170.625000pt;}
.he{height:175.000000pt;}
.h9{height:179.375000pt;}
.h3{height:187.687500pt;}
.h6{height:193.645833pt;}
.h1{height:197.312500pt;}
.h0{height:720.000000pt;}
.w0{width:960.000000pt;}
.x0{left:0.000000pt;}
.xe{left:66.416667pt;}
.x2{left:94.596313pt;}
.xc{left:101.155599pt;}
.x15{left:103.457378pt;}
.x14{left:122.810572pt;}
.xd{left:129.955599pt;}
.x1{left:134.135457pt;}
.x4{left:143.402623pt;}
.x5{left:146.985957pt;}
.x19{left:149.404724pt;}
.x13{left:167.143906pt;}
.xf{left:181.333333pt;}
.x16{left:213.083333pt;}
.x1f{left:232.416667pt;}
.x1c{left:253.361125pt;}
.x1b{left:255.444458pt;}
.x12{left:265.083333pt;}
.x1e{left:268.444458pt;}
.x11{left:271.750000pt;}
.x1d{left:277.527791pt;}
.x10{left:295.250000pt;}
.x17{left:314.666667pt;}
.xb{left:372.500000pt;}
.x3{left:402.929647pt;}
.x1a{left:412.833333pt;}
.x18{left:426.750000pt;}
.x6{left:440.485265pt;}
.x8{left:616.262609pt;}
.x7{left:622.012609pt;}
.xa{left:630.512609pt;}
.x9{left:728.484533pt;}
}
